<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Playlists</title>
<link rel="stylesheet" type="text/css" th:href="@{displayplaylist.css}">
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Playlist Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s:${allplaylist}">
				<td th:text="${s.id}"></td>
				<td th:text="${s.name}"></td>
				<td>
					<ul>
						   <li th:each="s:${s.songs}">
						   <span th:text="${s.name}"></span>
						    <audio controls>
								<source th:src="${s.link}">
							</audio>
				        </li>
					</ul>
				</td>
		</tbody>
	</table>
</body>
</html>